.wrapperForCards{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.wrapperForCards p{
    transform: translate(0px, 100px);
    color: #ffffff;
}
.ourHands{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.cardPhoto{
    width: 100px;
    height: 150px;
    margin: 5px;
}
.actionsWrapper{
    display: flex;
}